@use '../../style/abstract/colors';

.layout {
  display: flex;
  gap: 2rem;
  & li {
    display: flex;
  }
  & a {
    font-size: clamp(1.2rem, 2vw, 2.4rem);
    word-wrap: normal;
    margin-left: clamp(0rem, 1vw, 6.7rem);
    &.active {
      text-decoration: underline;
    }
  }
}
