.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & .contentCenter {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
  & h2 {
    margin-top: 20rem;
    font-weight: 700;
    font-size: clamp(9.6rem, 15vw, 28.8rem);
  }
  & p {
    text-align: center;
    font-size: clamp(1.8rem, 2vw, 3.6rem);
    margin-top: 1rem;
    margin-bottom: 13rem;
  }
  & button {
    border: none;
    background: none;
    font-size: clamp(1.4rem, 2vw, 1.8rem);
    text-decoration: underline;
  }
}
