@use '../style/abstract/mediaqueries';

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & .contentCenter {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.main {
  margin: 0 2rem;
  & .header {
    display: flex;
    flex-direction: column;
    margin: clamp(0rem, 1vw, 2.4rem) 0;
    @include mediaqueries.medium {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    & .topContainer {
      margin-top: 1.5rem;
      & h2 {
        font-size: clamp(1.8rem, 2vw, 3.6rem);
        @include mediaqueries.medium {
          white-space: nowrap;
        }
      }
      & p {
        margin: 0.5rem 0;
        font-size: clamp(1.4rem, 2vw, 1.8rem);
      }
    }
    & .middleContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;

      margin: 1rem 0;
      @include mediaqueries.medium {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-end;
        gap: 2rem;
      }
      & .hostInfo {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        & span {
          flex: 0.5;
          word-wrap: normal;
          font-size: clamp(1.2rem, 2vw, 1.8rem);
          text-align: right;
        }
        & img {
          width: clamp(3.2rem, 6vw, 6.4rem);
          height: clamp(3.2rem, 6vw, 6.4rem);
          border-radius: 50%;
        }
      }
    }
  }
  & .bottomContainer {
    display: flex;
    flex-direction: column;

    gap: 2rem;
    @include mediaqueries.medium {
      flex-direction: row;
      justify-content: space-between;
      gap: clamp(3rem, 4.5vw, 7.2rem);
    }
  }
}
