@use '../style/abstract/colors';
@use '../style/abstract/variables';
@use '../style/abstract/mediaqueries';
@use '../style/abstract/keyframes';

.carousel {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: clamp(2.4rem, 4vw, 8rem);
    &.hidden {
      display: none;
    }
    & .leftArrow {
      rotate: 90deg;
      &:hover {
        cursor: pointer;
      }
    }
    & .rightArrow {
      right: 0;
      rotate: -90deg;
      &:hover {
        cursor: pointer;
      }
    }
  }

  & .img {
    width: 100%;
    > img {
      object-fit: cover;
      width: 100%;
      min-height: 25rem;
      max-height: 41rem;
      border-radius: variables.$border-radius;
    }
  }
  & .slideRight {
    animation: carouselRight 150ms linear;
  }
  & .slideLeft {
    animation: carouselLeft 150ms linear;
  }
  @include mediaqueries.small {
    & span {
      display: block;
      position: absolute;
      bottom: 1.7rem;
      font-size: 1.8rem;
      color: colors.$light-color;
    }
  }
}
.hidden {
  display: none;
}
