@use '../style/abstract/mediaqueries';

.rate {
  display: flex;
  width: clamp(1.8rem, 2.5vw, 3.6rem);
  height: clamp(1.8rem, 2.5vw, 3.6rem);
  @include mediaqueries.medium {
    justify-content: flex-end;
  }
}
