@use '../../style/abstract/colors';
@use '../../style/abstract/variables';
@use '../../style/abstract/mixins';
@use '../../style/abstract/mediaqueries';

.card {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  color: colors.$light-color;
  height: 255px;

  @include mediaqueries.small {
    min-width: 34rem;
  }

  background: linear-gradient(colors.$primary-color 50%, colors.$shade-color);
  border-radius: variables.$border-radius;
  @include mixins.onHover();
  & h2 {
    position: absolute;
    font-size: 1.8rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    @include mediaqueries.small {
      width: 32rem;
    }
  }
  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &:hover {
    scale: variables.$scale;
    cursor: pointer;
  }
}
